.tituloOutrosPosts {
    font-family: var(--fonte-secundaria);
    color: #363031;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

.postsRecomendados {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    justify-content: center;
}

.texto {
    color: var(--cor-texto);
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-family: var(--fonte-principal);
}

.gif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: auto;
}