.posts {
    padding: 0 6vw 3.8rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: -2rem;
    background-color: var(--fundo-cards);
}

.container {
   padding: 2.5rem;
   text-align: center;
   background-color: var(--fundo-cards);
}
 .container h1 {
    font-size: 2.5rem;
    color: var(--branco);
 }

/* @media (max-width: 1100px) {
    .posts {
        margin-top: 0;
        padding: 2rem 1.5rem 3.625rem;
    }
} */

/* @media (max-width: 744px) {
    .posts {
        padding: 2rem 1rem 3rem;
    }
} */